*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Georgia, 'Times New Roman', Times, serif;
  color:black;
}

.container{
  border:5px solid blue;
}

.cell{
  padding:2rem ;
  background:#dedede;
  text-transform:uppercase;
  font-weight:blod; 
  text-align:center;
  border:3px solid red;
  color:white;
}
.cell-1{
  background: #581f18;
}
.cell-2{
  background: yellow;
}
.cell-3{
  background:orange;
}
.cell-4{
  background: palevioletred;
}
.cell-5{
  background: green;
}
